.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: min(880px, calc(100vw - 17px));
    margin-left: 17px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    padding-top: max(50px, 15.6vw);
    padding-bottom: max(36px, 10vw);
  }
}
