@import url(../vendor/normalize.css);
@import url(../fonts/InterWeb/inter.css);
.body {
  background-color: #000000;
  margin: 0;
}
.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
}
.header {
  max-width: 880px;
  margin-top: min(45px, 3.5vw);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.logo {
  padding-bottom: min(44px, 3.4vw);
}
.main {
  max-width: 880px;
  margin: 0 auto;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.popup__box {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  border-radius: 10px;
  position: fixed;
}
.popup__header {
  display: flex;
  justify-content: flex-end;
}
.popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.203;
  margin-top: 34px;
  margin-bottom: 50px;
  color: #000000;
  max-width: 76.7%;
  margin-left: auto;
  margin-right: auto;
}
.popup__close-btn {
  width: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: ease 0.2s;
  opacity: 1;
}
.popup__close-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
.form {
  display: block;
}
.form__fieldset {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 0;
  max-width: 76.7%;
  margin-left: auto;
  margin-right: auto;
}
.form__input {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  padding-bottom: 13px;
  margin-bottom: 34px;
}
.form__input::placeholder {
  color: #838383;
}
.form__button {
  margin-top: calc(48px - 34px);
  width: 100%;
  height: 50.15px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  transition: ease 0.2s;
  opacity: 1;
}
.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.profile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: min(50px, 3.9vw);
}
.avatar {
  margin: 0;
  max-width: 130px;
  max-height: 130px;
  margin-right: 30px;
}
.profile-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 415px;
  column-gap: 18px;
  row-gap: 18px;
  max-height: 77px;
  align-self: center;
}
.profile-info__name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-height: 39px;
}
.profile-info__description {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  min-width: 100%;
}
.profile-info__edit-button {
  max-width: 24px;
  max-height: 24px;
  align-self: flex-end;
  transition: ease 0.2s;
  opacity: 1;
}
.profile-info__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile-info__add-button {
  margin-left: auto;
  transition: ease 0.2s;
  opacity: 1;
}
.profile-info__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.elements {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}

.card__image {
  margin-bottom: 25px;
  max-width: 282px;
  max-height: 282px;
}
.card__title-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 31px;
}
.card__title {
  margin: 0;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-button {
  width: 21px;
  height: 19px;
  align-self: center;
  transition: ease 0.2s;
  opacity: 1;
}
.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: #545454;
}
